input {
   tcp {
    port => 5959
    codec => json
   } 
}

output {
    elasticsearch {
        hosts => ["http://elasticsearch:9200"]
        user => '{{ es_user }}'
        password => '{{ es_password }}'
        index => "wordpress-honeypot-exp2"
    }
    stdout{codec => rubydebug}
}
